<!DOCTYPE html>
<head></head>
<body>
    <div class="taskbar">
        <img class="js-my-avatar" src="{{userNameFInstance.avatar}}" alt="">
    
        <button class="js-icon-taskbar-chat icon-taskbar select" onclick="openTaskbarChat()">
            <i class="ti-comment-alt "></i>
        </button>
        <button class="js-icon-taskbar-list icon-taskbar" onclick="openTaskbarContact()">
            <i class="ti-user"></i>
        </button>
        <form class="form-inline my-2 my-lg-0" action="/user/logout">
            <button class="btn-logout" type="submit"><i class="ti-shift-left"></i></button>
        </form>
        <div class="modal-myprofile js-modal-myprofile">
            <div class="block-profile my-profile js-my-profile">
                <div class="header-profile">
                    <h5>Thông tin tài khoản</h5>
                </div>
                <div class="block-my-pro">
    
                    <div class="profile-avatar">
                        <img class="my-avatar" src="{{userNameFInstance.avatar}}" alt="">
    
                    </div>
                </div>
                <div class="profile-name">
                    <h5>{{userNameFInstance.fullName}}</h5>
                </div>
                <h6 class="header-info">Thông tin cá nhân</h6>
                <div class="profile-infomation">
                    <div class="name-info">
                        <span>
                            Tài khoản
                        </span>
                        <span>
                            Email
                        </span>
                        <span>
                            Giới tính
                        </span>
                        <span>
                            Ngày sinh
                        </span>
                    </div>
                    <div class="infomation">
                        <span>
                            {{userNameFInstance.userName}}
                        </span>
                        <span>
                            {{userNameFInstance.email}}
                        </span>
                        <span>
                            {{userNameFInstance.sex}}
                        </span>
                        <span>
                            {{userNameFInstance.birthday}}
                        </span>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <div class="js-menu-contact menu-contact">
        <div class="header-list-user">
            <input class="search-friend" type="text" placeholder="Tìm Kiếm">
            <button class="btn-add-form js-btn-add-form"><i class="ti-plus"></i></button>
    
        </div>
        <button class="js-tab-list select" onclick="openTabList()">
            <i class="ti-layout-media-overlay"></i>
            Danh sách bạn bè
        </button>
        <button class="js-tab-friend-request" onclick="openTabFriendRequest()">
            <i class="ti-email"></i>
            Lời mời kết bạn
        </button>
    </div>
    <div class="js-modal-add-friend modal-add-friend">
        <form class="form-add-friend js-form-add-friend" action="user/addFriend" method="post">
    
            <input type="text" name="userNameFriend" class="input-username-add" value="" placeholder="Tài khoản">
            <input type="hidden" name="userName" value="{{userChat.userName}}">
            <div>
                <div>
                    <label for="">Họ tên:</label>
                    <p>Chu Bá Hiếu</p>
    
                </div>
                <div>
                    <label for="">Giới tính:</label>
                    <p>Nam</p>
                </div>
                <div>
                    <label for="">Ngày sinh:</label>
                    <p>17/07/2002</p>
                </div>
                <button type="sumit">
                    Thêm bạn bè
                </button>
            </div>
        </form>
    </div>
</body>