<form action="/user/profile" method="post">
    <input type="text" name="fullName" value="{{user.fullName}}">
    <input type="text" name="email" value="{{user.email}}">
    <input type="text" name="sex" value="{{user.sex}}">
    <input type="text" name="birthday" value="{{user.birthday}}">
    <input type="text" name="avatar" value="{{user.avatar}}">
    <button type="submit"> Cập nhật</button>
</form>